name: huawei_in_app_update
description: Unofficial flutter plugin for accessing Huawei App Update Official API.
version: 0.2.0
homepage: https://github.com/darkang3lz92/huawei_in_app_update
repository: https://github.com/darkang3lz92/huawei_in_app_update
issue_tracker: https://github.com/darkang3lz92/huawei_in_app_update/issues

environment:
  sdk: ">=2.7.0 <3.0.0"
  flutter: ">=1.20.0"

dependencies:
  flutter:
    sdk: flutter

  url_launcher: ^5.7.10

dev_dependencies:
  flutter_test:
    sdk: flutter

# The following section is specific to Flutter.
flutter:
  plugin:
    platforms:
      android:
        package: com.domago.huawei_in_app_update
        pluginClass: HuaweiInAppUpdatePlugin
